#header{
    height: 150px;
    background-color: #d8d8d8;
}
#bluebox{
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #4a90e2;
    margin-top: 10px;
    margin-left: 20px;
   
}
main{
    height: 300px;
    font-family: Lucida Console;
    text-align: center;
    padding: 50px;
    font-size: 25px;
}

div{
    height: 150px;
}
#box1{
    background-color: #4a90e2;
}
#box2{
    background-color: #50e3c2;
}
#box3{
    background-color: #b8e986;
}
#box4{
    background-color:#f8e71c;
}