*{
    margin: 0;
}
.box{
    display: flex;
    height: 85vh;
    width: 100%;



}
.header{
    height: 15vh;
    width: 100%;
    background-color: black;
}
.side{
    background-color: gray;
    width: 15vw
}
.middle-box{
    height: 85vh;
    width:70vw;
}
.middlew{
    height: 70vh;
}

.middleb{
    background-color: black;
    width: 70vw;
    height: 15vh;

}